.nav {
  height: 6em;
  padding: 0 2rem;
  display: flex;
  align-items: center;
  background: #ffffff;
}

.hamburguer {
  display: none;
  cursor: pointer;

  @media (max-width: 780px) {
    display: flex;
  }
}

.icons {
  display: flex;
  justify-content: flex-end;
  width: 100vw;
}

.menu-icon {
  height: 1.6em;
  width: 1.6em;
}

.icon-margin {
  margin: 0 0.6em;
}

.logo {
  margin: 0em 2em;
}
