.container {
  height: 53.3vw;
  position: relative;
  text-align: center;
  margin: 1em;
}

.container img {
  height: 53.3vw;
}

.title {
  position: absolute;
  bottom: 4vw;
  left: 4vw;
  font-size: 4vw;
  font-family: MaisonNeueMedium, Arial, sans-serif;
  letter-spacing: 0.025em;
  color: white;
  z-index: 10;
}

.shadow {
  background: rgba(0, 0, 0, 0)
    linear-gradient(
      rgba(18, 18, 18, 0),
      rgba(18, 18, 18, 0),
      rgba(18, 18, 18, 0.4)
    )
    repeat scroll 0% 0%;
  inset: 0px;
  position: absolute;
  z-index: 9;
}
